/*** CSS Tutorial: Color page ***/

/* page font */
body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
}

/* paragraphs */
p {
  color: blue;
}
#first {
  font-style: italic;
}

/* initial letters */
strong {
  background-color: #ddf; 
  color: red;
  font: 200% serif;
}

.spinach {
  color: green;
  background-color: #ddf;
}

p:before {content: " " url("Yellow-pin.png");}